/*
	 DocTemplate
*/

*					                     { margin: 0; padding: 0; }
body				                     { font: 16px "Lucida Grande", Helvetica, Arial, Sans-Serif; background: #333; }
html                                     { overflow-y: scroll; }
a                                        { text-decoration: none; outline: 0; }
#page-wrap		                         { max-width: 960px; margin: 0 auto; position: relative; }


h1                                       { font: bold 32px Helvetica, Sans-Serif; letter-spacing: -1px; padding: 18px 0 18px 30px; color:white;}
h1 span                                { background: #4660e2; padding: 3px 8px; color: white; font-size: 20px; letter-spacing: 0; position: relative; top: -6px; font-weight: normal;  }
#main-content                            { position: relative; z-index: 200; margin: 0 0 0 0px; background: white; padding: 30px; min-height: 500px; }


/*#footer                                  { position: relative; z-index: 350; margin: 15px 0 15px 210px; color: white; }*/


p                                        { line-height: 1.5; margin: 0 0 15px 0; }
.callout                                 { background: #fdfce4; padding: 15px; border: 1px solid #fff000; border-radius: 6px 6px 6px 6px; }                  
h3                                       { font-size: 28px; margin: 0 0 15px 0; color: #304659; }


#main-content a                          { text-decoration: none; }
#main-content a:hover                    { text-decoration: none; border-bottom: 2px solid #4660e2; }
dl { padding-bottom:20px;}	
dt {
	font-weight: bold;
	
}
dd {
	background:no-repeat left top ; 
	padding-left: 50px;
	margin-bottom : 10px;
		
}

.papermetadata { margin: 10px 0px;}
.papermetadata span { padding-right:5px; display:none;}
.papermetadata a { color:blue !important ;}
.papermetadata .abstract { display:none; width:80%; text-align: justify; font-size:90%;}

.jse a { color : black ; }
.jse a:hover {border-bottom-style: none !important;}
